.new-item-plus {
  width: 1.1rem;
}

.new-item-input {
  padding: 3px 3px;
  height: 1.5rem;
  border: none;
  color: #000000;
}

.new-item-input:focus {
  outline-width: 0;
  box-shadow: none;
  color: #000000;
}

.new-item-row {
  padding: 0.1rem 1rem;
  margin: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.new-item-row-active {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.new-item-check {
  margin: 0;
}
