.todo-item-input {
  padding: 3px;
  height: 1.5rem;
  border: none;
  color: #000000;
}

.todo-item-input:focus {
  outline-width: 0;
  box-shadow: none;
  color: #000000;
}

.todo-item-input-checked {
  color: #909090;
  text-decoration: line-through;
}

.todo-item-input-checked:focus {
  color: #909090;
  text-decoration: line-through;
}

.todo-item-row {
  padding: 0.1rem 1rem;
  margin: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.todo-item-row-active {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.todo-item-check {
  margin: 0;
}
